/* Website backbone HTML section */
html {
  padding: 0;
  margin: 0;

}

body {
  background-image: url("pics/background.png");
  background-attachment:  fixed;
  background-position: center; /* #FACC2E */
  position: relative;
  background-repeat: space;

}

/* Jumbotron */
.jumbotron .container  {
  background-size: cover;
  height: 360px;
  width: 100%;
  margin-bottom: 02%;
}

/* Linfo-1 */
.info-1 .container{
  background-color: #EFEFEF;
  background-position: relative;

  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 02%;

}

.info-1 h2 {
  color: #FF3B3F;
  font-family: 'Garamond';
  font-weight: "bold";
  font-size: 60px;
  text-align: center;
}

.info-1 h3 {
  background-color: #CAEBF2;
  text-align: justify;
  position: relative;
  color: #5a5a5a;
  font-size: 30px;
}

.info-1 h4 {
  background-color: #CAEBF2;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;

  text-align: justify;
  background-color: #CAEBF2;
  position: relative;
  color: #5a5a5a;
  font-size: 25px;
}

.info-1 img {
  width: 300px;
  height: 500px;

}

/* Initial research*/
.init_re .container {
  background-color: #EFEFEF;
  background-position: relative;
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 02%;


}

.init_re h2 {
  color: #FF3B3F;
  font-family: 'Garamond';
  font-weight: "bold";
  text-align: center;
  font-size: 60px;
}

.init_re h3 {
  background-color: #CAEBF2;
  text-align: justify;
  position: relative;
  color: #5a5a5a;
  font-size: 30px;
}

.init_re h4 {
  background-color: #CAEBF2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
  background-color: #CAEBF2;
  position: relative;
  color: #5a5a5a;
  font-size: 30px;
  font-style: 'Times';
}

.init_re img {
  width: 550px;
  height: 450px;

}



/* Info_PIC*/
.info_pic .container{
  background-color:  #A9A9A9;
  background-position: relative;
  padding-bottom: 100px;
  padding: 20px;

}

.info_pic h2 {
  color: #EFEFEF;
  font-family: 'Garamond', serif;
  text-align: center;
  font-size: 60px;
}

.info_pic h4 {
  background-color: #CAEBF2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  text-align: justify;
  color: #5a5a5a;
  font-size: 25px;
  font-style: 'Times';
}

.info_pic img {
  width: 350px;
  height: 350px;

}

.info_fin {
  background-position: fixed;
  background-size: cover;
  height: 850px;
  /* background-color:  #000000; */
  background-position: relative;
  padding-top: 100px;

}

.info_fin h2 {
  color: #FF3B3F;
  font-family: 'Oswald', serif;
  font-size: 60px;
  text-align: center;
}

.info_fin h4 {
  background-color: #CAEBF2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

  position: relative;
  text-align: justify;
  color: #5a5a5a;
  font-size: 25px;
}

.info_fin li {
  background-color: #CAEBF2;
  padding-left: 5px;
  padding-right: 5px;

  position: relative;
  text-align: justify;
  color: #5a5a5a;
  font-size: 25px;
}


.info_fin img {
  width: 550px;
  height: 350px;

}

.img-phone img {
  width: 400px;
  height: 600px;

}














